<!-- <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <context:property-placeholder
            location="file:/Users/siddhantmittal/Documents/apps/database.properties"/>


    <mongo:mongo-client id="MongoSet" replica-set="${mongodb.hostname}"

		credentials="${mongodb.username}:${mongodb.password}@${mongodb.database}?uri.authMechanism=SCRAM-SHA-1">

		<mongo:client-options connections-per-host="${mongodb.connectionsPerHost}" />
    </mongo:mongo-client>

    <mongo:db-factory dbname="${mongodb.database}" mongo-ref="MongoSet"
                      id="eventMongoDbFactory"/>


    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>


    <bean id="mongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg name="mongoDbFactory" ref="eventMongoDbFactory"/>
        <constructor-arg name="mappingContext" ref="mappingContext"/>
        <property name="mapKeyDotReplacement" value="_"></property>
    </bean>


    <bean id="MongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="eventMongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mongoConverter"/>
    </bean>

 
 
</beans> -->